<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button
          class="btn btn-outline-success"
          (click)= "back()">Back
        </button>
        Create Video
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form [formGroup]="videoGroup" novalidate>
        <div class="form-group">
          <label class="center-block">Title:
          <input class="form-control" formControlName="title">
          </label>
          <label class="center-block">About:
            <input class="form-control" formControlName="about">
          </label>
        </div>
      </form>
      {{videoGroup.value | json}}
      {{videoGroup.status | json}}
    </div>
  </div>
</div>
