<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button
          class="btn btn-outline-success"
          (click)= "back()">Back
        </button>
        Create Video
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form (ngSubmit)="save()" [formGroup]="videoGroup" novalidate>
        <div class="form-group">
          <label class="center-block">Title:
          <input class="form-control" [ngClass]="{'is-invalid': isInvalid('title')}"
                 formControlName="title">
            <div *ngIf="isInvalid('title')"
                 class="invalid-feedback">
              <div *ngIf="videoGroup.controls['title'].errors.required">
                Name is required.
              </div>
              <div *ngIf="videoGroup.controls['title'].errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>
          </label>

          <button
            [disabled]="videoGroup.invalid"
            type="submit"
            class="btn btn-outline-info">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </form>
      <ngb-alert *ngIf="videoCreatedSuccessfully" (close)="closeAlert()" type="success">Video Created</ngb-alert>
      {{videoGroup.value | json}}
      {{videoGroup.status | json}}
    </div>
  </div>
</div>
