<div class="container">
  <div class="row">
  <div class="col-md-12">
    <hr>
    <h2>Videos
    <div class="pull-right">
      <button class="btn btn-outline-success" (click)="createVideo()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    </h2>
    <hr>
  </div>
    <div class="col-md-12">
      <div class="list-group">
        <a (click)="details(video)" *ngFor="let video of videos" class="list-group-item list-group-item-action">
        <img  class="img" src="http://via.placeholder.com/70x70">
          <h5>{{video.title}}</h5>
          <div *ngIf="!videoToDelete || videoToDelete.id != video.id" class="pull-right">
            <button class="btn-outline-danger" (click)="delete(video,$event)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn-outline-warning">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="videoToDelete && videoToDelete.id == video.id " class="pull-right">
            <button class="btn-outline-danger" (click)="deleteConfirm($event)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>Sure?
            </button>
            <button class="btn-outline-info" (click)="deleteAborted($event)">
              <i class="fa fa-pencil" aria-hidden="true"></i>Cancel
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
